.header{
  height: 50px;
  width: 100%;
  background-color: grey;
}

.search{
  width: 100%;
}

.searchBar{
  width: 60%; 
  padding: 10px;
  border: 1px solid grey;
  margin: 10px 20%;
}

.list{
  width: 80%;
  margin: auto;
  padding: 0;
}

.movie{
  min-height: 150px;
  width: 100%; 
  border: 1px solid grey;
  margin: auto;
  padding: 10px;
  text-align: center;
  /*margin: 10px;*/
}

.movieContent{
  width: 80%;
  margin: auto;
}

.image{
  max-width: 200px;
  margin: auto;
}



.description{
  width: 100%;
  margin: auto;
  padding-top: 10px;
}



@media only screen and (min-width: 600px) {

    .movie{
      text-align: left;
      /*margin: 10px;*/
    }
    .movieContent{
        display: flex;
        width: 90%;
      }

    .image{
      padding-right: 20px;
    }  
}